body {
    margin: 0;
    padding: 0;
}

#map {
    height: 100vh;
    width: 100%;
}

.custom-popup .leaflet-popup-content-wrapper {
    background: #fff;
    color: #333;
    font-size: 14px;
    border-radius: 8px;
    box-shadow: 0 3px 14px rgba(0,0,0,0.4);
}

.custom-popup .leaflet-popup-content {
    margin: 13px 19px;
    line-height: 1.4;
}

.custom-popup .leaflet-popup-tip {
    background: #fff;
}
